body {
    background: 
    linear-gradient( 
      rgba(255, 211, 185, 0.4),
      rgba(187, 149, 117, 0.8)
    ),
    linear-gradient( 
      rgba(143, 143, 143, 0.5),
      rgba(186, 186, 186, 0.6)
    ),
    
    radial-gradient(ellipse closest-side at center, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0.4) 100%),
    url('../Images/pawel-czerwinski-dYRUZ1ljs4s-unsplash.jpg') center center !important;
    background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply,normal,normal,normal;
}
h2,h3, h5 {
    line-height: 55px !important;
    
}

h1,h2,h3,h4,h5,p{
    color: #f8f8f8 !important;
  }
  
h2 {
    text-shadow: 2px 2px #312727;
    font-size: 35px;
}

#allposts {
    padding-top: 10px;
}

.pageTitle {
    font-weight: 700;
    line-height: 150px;
    font-size: 90px;
    color: #d4d1cc;
    text-align: center;
    text-shadow: 2px 2px #312727;

    

}

.post-container {
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

p {
    display: block !important;
}

.fa-solid {
    font-size: 30px;
    border: none;
    padding: 10px;
    color: #f8f8f8 !important;
}



img {
    height: 450px;
    width: 450px;
    max-height: 100%;
    max-width:100%;
    border-radius: 15px;
    margin-top: 30px;
}

footer img {
    height: 50px;
    width: 50px;
    border-radius: 0;
    margin-top: 0;

}

button {
    background: none;
    letter-spacing: 6px;
}

input {
    padding:.375rem .75rem;
    border-radius: 0.25rem;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
    margin-right: 0.25em !important;
}

input:focus {
    border: none;
}

.commentSection {
    max-height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  ::-webkit-scrollbar-corner    {
      background-color: none;
  }

  footer h2{
      text-shadow: none;
  }
